
.icon-thumbs-up:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-comment:before { content: '\e802'; } /* '' */
.icon-trash-empty:before { content: '\e803'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */